@import "./reset.css";

root {
  background-color: #666;
}

#main {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #100000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #eee;
  min-height: 100vh;
}

#banner {
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid darkorange;
}

.logo:hover {
  filter: drop-shadow(0.3em 0.3em 1em pink);
}

.logo {
  width: 2rem;
  height: 2rem;
}

#banner-title {
  border-radius: 0.5rem;
  border-width: 0 2px 0 2px;
  padding: 0.5rem;
  background-color: #411;
}

#banner-title h2 {
  font-size: 1.3rem;
  letter-spacing: 0.25rem;
}

#main-content {
  background-color: #100000;
}

button.counter {
  border: none;
  border-radius: 0.2rem;
  background-color: pink;
  font-weight: bold;
  display: block;
  margin: 0.5rem auto;
  min-width: 8rem;
  text-align: center;
}
.navbar {
  width: 100%;
  background-color: burlywood;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border-bottom: 3px solid darkorange;
}

.navbar a {
  padding: 0.1rem 0.3rem;
  background-color: #666;
  cursor: pointer;
  user-select: none;
}

.navbar a.active {
  color: #411;
  background-color: #999;
  font-weight: bold;
}

ul.solar-objects {
  padding: 0.5rem;
  list-style: none;
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}

ul.solar-objects li {
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: pink;
  color: darkred;
}

.solar-detail-choice {
  background-color: azure;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

.solar-detail-choice a {
  color: darkgreen;
  background-color: pink;
  padding: 0.3rem;
  cursor: pointer;
  user-select: none;
}

.solar-detail-choice a.active {
  background-color: lightcoral;
}

ul.solar-shortcuts {
  margin-top: 0.3rem;
  display: flex;
  justify-content: left;
  list-style: none;
  gap: 1.2rem;
  font-size: 0.8rem;
}

ul.solar-shortcuts li {
  background-color: salmon;
  padding: 0.2rem;
  border-radius: 10%;
}
